#logo {
    display: block; /* show the text */
  }

  #logopic {
    display: none; /* Hide the picture */
  }

.img-cover {

  object-fit: cover;
}
.img-fit {

  object-fit: fit;
}
.img-contain {

  object-fit: contain;
}

@media screen and (max-width: 767px) {
    /* Media query for screen widths up to 767 pixels */
    #logo {
      display: none; /* Hide the text */
    }
  
    #logopic {
      display: block;
    }
  }